<!DOCTYPE html>
<html>
<head>
    <title>Update Data</title>
</head>
<body>
    <h2>Person Information</h2>
    <form action = "/updatedetails" method="post">
    <table>
        <tr><td>ID</td><td><input type="text" name="id"></td></tr>
        <tr><td>Name</td><td><input type="text" name="name"></td></tr>
        <tr><td>Email</td><td><input type="email" name="email"></td></tr>
        <tr><td>Favorite Minecraft Mob</td><td><input type="text" name="fav_minecraft_mob"></td></tr>
        <tr><td>Favorite Football Team</td><td><input type="text" name="fav_football_team"></td></tr>
        <tr><td>Favorite Food</td><td><input type="text" name="fav_food"></td></tr>
        <tr><td>Favorite Car</td><td><input type="text" name="fav_car"></td></tr>
        <tr><td><input type="submit" value="Submit"></td></tr>
    </table>
    </form>
</body>
</html>